html, body {
  height: 100%;
  margin: 0; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background: gray; 
}

.drop-down-list-item {
  padding-left: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.drop-down-list-item > input {
  margin: 0.3rem;
}

.drop-down-button {
    color: inherit;
    position: relative;
    border-radius: 3px;
    width: 100px; 
    font-size: 12px;
    height: 40px;
    text-align: left;
    padding-left: 15px; 
    cursor: pointer;
    font-family: inherit;
    font-weight: normal;
}

.drop-down-icon {
  position: absolute;
  width: 30px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 0;
}

.new-drop-down {
  --font-size: 12px;
  --width-list: 135px;
}

.new-drop-down {
  font-size: var(--font-size);
  width: var(--width-list);
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

.drop-down-list-wrapper {
  border-radius: 4px; 
  width: 225px;
  background: white;
  position: absolute;
}

.card-photo {
  width: 250px;
  height: 250px;
  border-radius: 2px;
}

.card-details {
  font-size: 15px; 
}

.card {
  background: white;
  margin: 12px; 
  padding-left: 20px;
  border-radius: 5px;
  height: 400px;
  width: 275px; 
}

.grid {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  margin-top: 50px;
  margin-left: 15px; 
  height: 100%;
}

.filters {
  display: flex; 
  height: 100px; 
  background-color: #d3d3d3;
  z-index: 1;
}

.curiosity-details {
  height: 100%; 
  z-index: -1;
  background-color: white;
  border: 1px white solid;
}

.sol {
  position: absolute;
  margin-left: 120px; 
}

h4 {
  margin: 10px; 
  font-size: 15px;
}

p {
  font-size: 14px;
}

.sol-input {
  border-radius: 3px; 
  height: 40px;
  width: 70px; 
  border: none;
  text-align: center;
}

button {
  border: none; 
  color: #009900;
  font-weight: bold;
  margin: 2px;
}

.clear {
  float: right; 
}

input[type=checkbox] {
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: white;
  border-radius: 2px;
  border: white solid; 
  padding: 0;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #8db600;
  display: inline-block;
  visibility: visible;
  margin-left: 0.5px; 
  border-radius: 2px;
}

input[type=checkbox]:checked:after {
  content: "\2713";
  text-align: center;
}

